<div class="row">

  <h1>FAQ</h1>

  <br>

  <ul>    

<li><b>Q: Do I have to create an account on the Dreams platform to use it?</b><br>

    Yes – you have to create an account using the same email address that you used to obtain your Schönburn membership on <font color="#1D6BD6"><a href="https://pretix.eu/austrianburners/schsch-2019/">pretix</a></font>.

    </li><br>

<li><b>Q: How much time do I have to register a Dream?</b><br>

    <ul>
      <li>  - Registration opens: 22.07. @ 12:00</li>
      <li>  - Registration closes: 08.08. @ 23:59</li>
      <li>  - Voting starts: 9.08. @ 20:00</li>
      <li>  - Voting ends: 16.08. @ 23:59</li>
      <li>  - Art grant notifications to all dreamers: 21.08.</li>
    </ul>

    </li>

<li><b>Q: What is an Incomplete Budget Monster?</b><br>

Your budget is incomplete or is lacking detailed information.

    </li><br>

<li><b>Q: What is a Restricted Items Monster?</b><br>

Your budget contains restricted items.

    </li><br>

<li><b>Q: What is a Transport Monster?</b><br>

Your budget contains too high transport costs.

    </li><br>

<li><b>Q: What is an Unnecessary Material Monster?</b><br>

Your budget contains unnecessary or wasteful material use.

    </li><br>

<li><b>Q: I have a question that doesn't have the answer here. who should I contact?</b><br>
  You can read more about the dreams and the funding guidelines on the <font color="#1D6BD6"><a href="http://www.burners.at/wetzlas/doku.php?id=dreams">wiki page</a></font>.
    <br>You can also ask your question on the <font color="#1D6BD6"><a href="https://schlossschoenburn.slack.com/messages/CBD0YH4AU">#dreams</a></font> channel on Slack.

    </li><br>

<li><b>Q: Who created this magnificent piece of art?</b><br>

    <font color="#1D6BD6"><a href="/pages/humans">Click on me to find out</a></font>

    </li><br>

<br><br><br>

  </ul>

</div>
